# Flask
DEBUG = True

DATABASE = 'data/airport_codes.db'
DATABASE_NAME = 'data/airport_codes.db'

#Discord Bot
DISCORD_TOKEN = 'Discord Token'
CHANNEL_ID = "Discord Channel ID"

#Weather API
WEATHER_API_URL = "https://api.weatherbit.io/v2.0/forecast/daily"
WEATHER_API_KEY = "APIKEY"
