<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Buscador de vuelos</h1>
    <p>Bienvenido a nuestro buscador</p>
    <form action="/flights" method="POST">
        <label for="origin">Origen:</label>
        <input type="text" name="origin" id="origin" required>
        <label for="destination">Destino:</label>
        <input type="text" name="destination" id="destination" required>
        <label for="date">Fecha:</label>
        <input type="date" name="date" id="date" required>
        <input type="submit" value="Buscar">
    </form>
</body>
</html>